/*Print*/
@media print {
    .resume {
        font-size: 10px;
        letter-spacing: 0.5px;
        max-width: 800px;
        padding: 0;
        border: 0;
        margin: 35px 40px;
        background: #fff;
        box-shadow: none;
        -webkit-box-shadow: none;
    }

    a[href]:after {
        content: none !important;
    }

    .header ul {
        float: right;
    }
    hr {
        margin: 9px;
    }

    .header li {
        font-size: 9px;
    }

    .funicon.fa {
        font-size: 18px;
        color: #000;
        margin-right: 10px;
    }

    h2 {
        font-size: 18px;
    }
}