/*Print*/
@media print {
    .resume {
        font-size: 11px;
        letter-spacing: 0.5px;
        max-width: 800px;
        padding: 0;
        border: 0;
        margin: 15px 15px;
        background: #fff;
        box-shadow: none;
        -webkit-box-shadow: none;
    }

    a[href]:after {
        content: none !important;
    }

    .header ul {
        float: right;
    }
    hr {
        margin: 6px;
    }


    .funicon.fa {
        font-size: 18px;
        color: #000;
        margin-right: 5px;
    }

    h2 {
        font-size: 18px;
        margin-bottom: 4px;
    }
    .education .name, .education .major {
        margin-left: 0em;
        width: 56%;
        float: left;
        margin-right: 1%;
    }
    .education .graduation, .education .gpa {
        margin-left: 0em;
        width: 43%;
        float: right;
        margin-right: 0;
        text-align: right;
    }
}