/*Print*/
@media print {
    .resume {
        font-size: 11px;
        max-width: 1080px;
        padding: 5px 0px;
        border: 0px;
        background: #fff;
        box-shadow: none;
        -webkit-box-shadow: none;
    }

    a[href]:after {
        content: none !important;
    }

    .header ul {
        float: right;
    }

    .header ul li:nth-child(odd), .header ul li:nth-child(even) {
        padding: 0em 0.3em;
        width: inherit;
        margin: 0em;
    }

    .experience .job .info .company {
        width: 49.15254%;
        float: left;
        margin-right: 1.69492%;
    }
    .experience .job .info .title {
        width: 49.15254%;
        float: left;
        margin-right: 1.69492%;
    }
    .experience .job .info .dates {
        width: 49.15254%;
        float: right;
        margin-right: 0;
        text-align: right;
    }

    .education .name, .education .major {
        margin-left: 0em;
        width: 49.15254%;
        float: left;
        margin-right: 1.69492%;
    }
    .education .graduation, .education .gpa {
        margin-left: 0em;
        width: 49.15254%;
        float: right;
        margin-right: 0;
        text-align: right;
    }
}