:root {
    --app-primary-color: #4285f4;
}

body {
    background: var(--app-primary-color);
    background: linear-gradient(135deg, #91DFEB 0%, #007BC4 100%);
    /*color: #757575;*/
    font-family: 'Neue Helvetica';
    letter-spacing: 1.4px;
    padding-bottom: 60px;
}

.resume {
    background: #fff;
    padding: 70px 75px;
    margin: 81px 72px;
    border: 1px solid #a5d4fc;
    box-shadow: 2px 2px 4px #aaa;
    font-size: 15px;
}

.myname {
    font-family: 'Klavika';
    color: #757575;
    text-align: center;
}

h1 {
    font-size: 3em;
    font-weight: bolder;
    color: #000;
    margin: 0;

}

h2 {
    font-size: 28px;
    color: #000;
    margin-top: 0;
    font-weight: 500;

}

h3 {
    font-size: 1.5em;
    margin-top: 0;
}

h4 {
    margin: 15px 0 0;
}

hr {
    margin: 20px 0;
}

li {
    padding: 2px 0;
}

.funicon.fa {
    font-size: 28px;
    color: #000;
    margin-right: 10px;
}

.fa-github {
    color: #800080;
}
.fa-twitter {
    color: #6faedc;
}
.fa-linkedin {
    color: #4875B4;
}
.fa-facebook {
    color: #3b5998;
}
.fa-envelope-o {
    color: #FF5335;
}
.fa-home {
    color: #B29C85;
}

.header {
    overflow: hidden;
    clear: both;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.header:after {
    content: " ";
    display: block;
    clear: both;
}

.contact {
    padding: 0;
}

.contact > li {

    display: inline;
    float: left;
    margin: 0em;
    font-size: 13px;
}
.header ul li:nth-child(odd) {
    width: 39%;
    float: left;
    margin-right: 1%;
}
.header ul li:nth-child(even) {
    width: 60%;
    float: right;
    margin-right: 0;
    text-align: right;
}

/*Education*/
.education {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.education:after {
    content: " ";
    display: block;
    clear: both;
}
.education .major {
    width: 100%;
    float: right;
    margin-right: 0;
}
.education .graduation, .education .name, .education .gpa, .education .course {
    margin-left: 2em;
}

/*Experiences*/
.experience {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.experience:after {
    content: " ";
    display: block;
    clear: both;
}
.experience .job .info {
    overflow: hidden;
    clear: both;
}
.experience .job .info .title {
    font-size: 1em;
    font-weight: bolder;
}
.experience .job ul {
    overflow: hidden;
    clear: both;
    margin: 0.5em 0;
    padding-left: 2em;
}


/*Skills*/
.skills {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.skills:after {
    content: " ";
    display: block;
    clear: both;
}

/*Projects*/
.projects {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.projects:after {
    content: " ";
    display: block;
    clear: both;
}

/*Awards*/
.awards {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.awards:after {
    content: " ";
    display: block;
    clear: both;
}